body{
    background-image: url(../../../../../imagenes/main-bg.svg);
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center; /* Centra la imagen en ambos ejes*/
    background-size: cover; /* Asegura que la imagen cubra toda el área visible */
    background-attachment: fixed
}

.header{
    display: flex;
    justify-content:space-between; /*posiciona el contenido a la derecha*/

    padding: 1% 2%;
    top: 0;
}

#goBackBtn {
    display: flex;
    justify-self: end;

    font-family: var(--tipografia-secundaria);
    font-size: 1.4rem;
    font-weight: 100;

    color: black;
    background-color: var(--violeta-claro-transparente);

    margin-top: 0.1rem;
    margin-right: 1rem;
    margin-bottom: 0.3rem;
    border: solid 1px;
    border-color: var(--violeta-oscuro);
    border-radius: 0.4rem;
    padding: 0.1rem 0.8rem;
    padding-bottom: 0;

    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#goBackBtn:hover{
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: var(--violeta-oscuro-transparente);
}

#user-btn{
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 2rem;
    border-color: var(--violeta-claro);
    background-color: transparent; /*placeholder foto usuario*/
}

#user-btn:hover{
    box-shadow: 1px 0px 5px var(--violeta-claro);
}

main {
    min-height: 100vh;
}