body{
    background-image: url(../../../../imagenes/main-bg.svg);
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center; /* Centra la imagen en ambos ejes*/
    background-size: cover; /* Asegura que la imagen cubra toda el área visible */
    background-attachment: fixed;
}

main {
    min-height: 100vh;
}

/*HEADER Y BOTÓN USUARIO--------------------------------------------------------------------------------------------------------*/

.header{
    display: flex;
    justify-content:flex-end; /*posiciona el contenido a la derecha*/
    /* margin-bottom: 0; */
    padding: 1% 2%;
    top: 0;
}

#user-btn{
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 2rem;
    border-color: var(--violeta-claro);
    background-color: transparent; /*placeholder foto usuario*/
}

#user-btn:hover{
    box-shadow: 1px 0px 5px var(--violeta-claro);
}