<div id="container">
    <section id="questionSection">
        <img [src]="round.question.img" alt="" width="200" height="200">
        <audio *ngIf="audioSrc" controls autoplay>
            <source [src]="audioSrc" type="audio/mpeg">
        </audio>
    </section>
    <section id="optionsSection">
        <!-- <p class="option">Opción</p>
        <p class="option">Opción</p>
        <p class="option">Opción</p>
        <p class="option">Opción</p> -->
        <button [class.correct]="option1" class="option" [disabled]="disabledOpt" (click)="chooseOption(round.options[0].id, 1)">{{round.options[0].name}}</button>
        <button [class.correct]="option2" class="option" [disabled]="disabledOpt" (click)="chooseOption(round.options[1].id, 2)">{{round.options[1].name}}</button>
        <button [class.correct]="option3" class="option" [disabled]="disabledOpt" (click)="chooseOption(round.options[2].id, 3)">{{round.options[2].name}}</button>
        <button [class.correct]="option4" class="option" [disabled]="disabledOpt" (click)="chooseOption(round.options[3].id, 4)">{{round.options[3].name}}</button>
    </section>
</div>
@if (btnMsg == 'Siguiente') {
    <button id="next" [disabled]="disabledNext" (click)="next()">{{btnMsg}}>></button>
} @else {
    <button id="next" [disabled]="disabledNext" (click)="seeResults()">{{btnMsg}}>></button> //cambiar método a redirect
}
